<form [formGroup]="miFormulario" (ngSubmit)="guardar()">


    <label for="nombreCompleto">Nombre Completo </label>
    <input type="text" id="nombreCompleto" formControlName="nombreCompleto" [class.is-invalid]="nombreCompletoNoValido">
    <small *ngIf="nombreCompletoNoValido" class="text-danger">
      Requerido (max 100 caracteres)
    </small>
    <br>
    <br>

    <label for="nombreEmpresa">Nombre de la empresa </label>
    <input type="text" id="nombreEmpresa" formControlName="nombreEmpresa" [class.is-invalid]="nombreEmpresaNoValido">
    <small *ngIf="nombreEmpresaNoValido" class="text-danger">
      Requerido (max 100 caracteres)
    </small>
    <br>
    <br>

    <label for="correo">Correo electrónico </label>
    <input type="text" id="correo" formControlName="correo" [class.is-invalid]="correoNoValido">
    <small *ngIf="correoNoValido" class="text-danger">
       correo no debe poseer caracteres especiales.
    </small>
    <br>
    <br>

    <label for="telefono">Teléfono </label>
    <input type="telefono" id="telefono" formControlName="telefono" [class.is-invalid]="telefonoNoValido">
    <small *ngIf="telefonoNoValido" class="text-danger">
       El número de dígitos es incorrecto.
    </small>
    <br>
    <br>

    <label for="cat">Categoría</label>
    <select name="categoria" id="cat" [class.is-invalid]="categoriaNoValida" formControlName="categoria">
    <option value="" disabled></option>
    <option value="facturación">Facturación</option>
    <option value="soporte">Soporte técnico</option>
    <option value="ventas">Ventas</option>
    <option value="informacion">Información general</option>
    </select>
    <small *ngIf="categoriaNoValida" class="text-danger">
      Campo obligatorio
    </small>
    <br>
    <br>

  <label for="msg">Mensaje</label>
  <textarea id="msg" formControlName="msg"  [class.is-invalid]="mensajeNoValido" placeholder="Escriba su mensaje"></textarea>
  <small *ngIf="mensajeNoValido" class="text-danger">
      Requerido (máximo 00 caracteres)
  </small>
  <br>
  <br>


    <button type="submit">Enviar</button>
  </form>
  